<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <title>{% block title %}MentAPP{% endblock %}</title>
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
>
    {% block extra_css %}
    {% endblock %}
  </head>
  <body>
      
      <main class="container">
        {% include 'includes/header.html' %}
        {% block breadcrumbs %}
        {% endblock %}
        {% block content %}
        {% endblock %}
      </main>


      {% block footer %}
      {% endblock %}
    
  </body>

  {% block extra_js %}
  {% endblock %}
</html>


